<h2>Manpage Viewer</h2>

<% labelled_tabular_form_for :manview, @manview, :url => { :controller => "manview", :action => "search"}, :html => { :class => nil } do |f| %>
<div class="box tabular" style="width=100px">
  <p><%= error_messages_for 'manview' %></p>
  <p><%= f.text_field :man_name, :required => true %></p>
  <p><%= f.select :man_category, @categories, :include_blank => false %></p>
  <p><%= f.select :man_arch, @archs, :include_blank => false %></p>
  <p><%= f.select :man_os, @os_selection, :include_blank => false %></p>
  <p><%= f.submit 'Search' %></p>
</div>
<% end %>

<% content_for :sidebar do %>
  <h2>Manpage Viewer</h2>
  <%= image_tag "RTFM.jpg" %><br><br><br>
  <b>What is <a href="http://en.wikipedia.org/wiki/RTFM">RFTM?</a></b>
  <h3>ManView (c) 2011 Stefan Rinkes<h3>
  Cache-Size: <%= @cachesize %><br>
  <% if !@querytime.nil? %>
    Query-Time: <%= @querytime %><br>
  <% end %>
<% end %>
