<h2>Manpage Viewer</h2>

<% if !@found.empty? %>
<%= link_to "Back to search form", :action => 'index' %>
<% end %>

<br><br>
<% if @multiman %>
  Found more than one manpage for your search-request<br>
  Choose one:<br><br>
  <% @found.each do |element| %>
    <%= link_to "#{element.name} (#{element.category}) - #{element.os}", :action => 'search', :manview => {
      :man_name => element.name, :man_category => element.category, :man_os => element.os, :strict => true } %><br>
  <% end %>
<% else %>
  <% @found.each do |element| %>
    <h2><%= "#{element.name} (#{element.category}) - #{element.os}" %></h2>
    <div style="max-width:60em; margin-left:5em;">
      <% if !@raw %>
        <%= link_to "Link to #{element.name} (#{element.category})", :action => 'search', :manview => {
          :man_name => element.name, :man_category => element.category, :man_os => element.os, :strict => true } %><br><br>
        <%= element.text %> <br><br><br>
        <%= link_to "Link to manpage source of #{element.name} (#{element.category})", :action => 'search', :manview => {
          :man_name => element.name, :man_category => element.category, :man_os => element.os, :strict => true, :raw => true } %><br><br>
      <% else %>
        <%= link_to "Back to manpage #{element.name} (#{element.category})", :action => 'search', :manview => {
          :man_name => element.name, :man_category => element.category, :man_os => element.os, :strict => true, :raw => false } %><br><br>
        <pre>
<%= CGI::escapeHTML(element.rawtext) %> <br>
        </pre>
      <% end %>
    </div>
  <% end %>
<% end %>
<br><br>
<%= link_to "Back to search form", :action => 'index' %>

<% content_for :sidebar do %>
  <h2>Manpage Viewer</h2>
  <%= image_tag "RTFM.jpg" %><br><br><br>
  <b>What is <a href="http://en.wikipedia.org/wiki/RTFM">RFTM?</a></b>
  <h3>ManView (c) 2011 Stefan Rinkes<h3>
  Cache-Size: <%= @cachesize %><br>
  Query-Time: <%= @querytime %> Seconds<br>
<% end %>
